@charset "utf-8";
.baseImage {
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 400px;
    background-image: url(../Images/Scene.png);
}
body, html {
  height: 100%;
  margin: 0;
}
.about {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 200%;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

.navContainer {
    width: 100%;
    background-color: #000000;
}
.mainFooter {
    clear: both;
}
.socialIcons {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    text-align: center;
}

@media screen and (max-width:640px){
.baseImage {
    width: 100%;
}

}

@media screen and (min-width:641px) and (max-width:1280px){
.baseImage {
    width: 100%;
}

}
